"fe/fe_11/fe_11_all.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_13/fe_13_all.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_9/fe_9.scups" filter=lfs diff=lfs merge=lfs -text
"ca/ca_14/ca_14.scups" filter=lfs diff=lfs merge=lfs -text
"ar/ar_12/ar_12.scups" filter=lfs diff=lfs merge=lfs -text
"ca/ca_13/ca_13.scups" filter=lfs diff=lfs merge=lfs -text
"ar/ar_11/ar_11.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_21/fe_21.scups" filter=lfs diff=lfs merge=lfs -text
"s/s_11/s_11.scups" filter=lfs diff=lfs merge=lfs -text
"p/p_10/p_10.scups" filter=lfs diff=lfs merge=lfs -text
"si/si_9/si_9.scups" filter=lfs diff=lfs merge=lfs -text
"k/k_14/k_14.scups" filter=lfs diff=lfs merge=lfs -text
"cl/cl_12/cl_12.scups" filter=lfs diff=lfs merge=lfs -text
"cr/cr_19/cr_19.scups" filter=lfs diff=lfs merge=lfs -text
"ca/ca_15/ca_15.scups" filter=lfs diff=lfs merge=lfs -text
"ti/ti_17/ti_17.scups" filter=lfs diff=lfs merge=lfs -text
"ar/ar_13/ar_13.scups" filter=lfs diff=lfs merge=lfs -text
"mn/mn_20/mn_20.scups" filter=lfs diff=lfs merge=lfs -text
"zn/zn_25/zn_25.scups" filter=lfs diff=lfs merge=lfs -text
"co/co_22/co_22.scups" filter=lfs diff=lfs merge=lfs -text
"ni/ni_23/ni_23.scups" filter=lfs diff=lfs merge=lfs -text
"si/si_8/si_8.scups" filter=lfs diff=lfs merge=lfs -text
"ni/ni_11/ni_11.scups" filter=lfs diff=lfs merge=lfs -text
"ni/ni_12/ni_12.scups" filter=lfs diff=lfs merge=lfs -text
"s/s_9/s_9.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_10/fe_10_all.scups" filter=lfs diff=lfs merge=lfs -text
"al/al_8/al_8.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_8/fe_8.scups" filter=lfs diff=lfs merge=lfs -text
"si/si_7/si_7.scups" filter=lfs diff=lfs merge=lfs -text
"mg/mg_7/mg_7.scups" filter=lfs diff=lfs merge=lfs -text
"ni/ni_15/ni_15.scups" filter=lfs diff=lfs merge=lfs -text
"na/na_6/na_6.scups" filter=lfs diff=lfs merge=lfs -text
"cr/cr_2/cr_2.scups" filter=lfs diff=lfs merge=lfs -text
"ne/ne_5/ne_5.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_3/fe_3.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_11/fe_11.scups" filter=lfs diff=lfs merge=lfs -text
"cr/cr_13/cr_13.scups" filter=lfs diff=lfs merge=lfs -text
"fe/fe_15/fe_15.scups" filter=lfs diff=lfs merge=lfs -text
"zn/zn_19/zn_19.scups" filter=lfs diff=lfs merge=lfs -text
"mn/mn_14/mn_14.scups" filter=lfs diff=lfs merge=lfs -text
"ti/ti_11/ti_11.scups" filter=lfs diff=lfs merge=lfs -text
"co/co_16/co_16.scups" filter=lfs diff=lfs merge=lfs -text
"ni/ni_17/ni_17.scups" filter=lfs diff=lfs merge=lfs -text
